[submodule "test/ptf"]
	path = test/ptf
	url = https://github.com/p4lang/ptf
[submodule "test/saithrift/ctypesgen"]
	path = test/saithrift/ctypesgen
	url = https://github.com/davidjamesca/ctypesgen
[submodule "bm/behavioral-model"]
	path = bm/behavioral-model
	url = https://github.com/p4lang/behavioral-model.git
[submodule "test/sonic-mgmt-int"]
	path = test/sonic-mgmt-int
	url = https://mssonic@dev.azure.com/mssonic/internal/_git/sonic-mgmt-int
