[submodule "test/ptf"]
	path = test/ptf
	url = https://github.com/p4lang/ptf
[submodule "test/saithrift/ctypesgen"]
	path = test/saithrift/ctypesgen
	url = https://github.com/davidjamesca/ctypesgen
[submodule "p4_compiler"]
	path = flexsai/p4
	url = https://github.com/Mellanox/sai_p4_compiler
[submodule "behavioral-model"]
	path = bm/behavioral-model
	url = https://github.com/p4lang/behavioral-model.git
[submodule "bm/behavioral-model"]
	path = bm/behavioral-model
	url = https://github.com/p4lang/behavioral-model.git
