Source: ptf
Maintainer: Guohan Lu <lguohan@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.1

Package: python-ptf
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-scapy
Description: PTF is a Python based dataplane test framework.
 .
 PTF is a Python based dataplane test framework. It is based on unittest, which is included in the standard Python distribution.
 .
 This document is meant to provide an introduction to the framework, discuss the basics of running tests and to provide examples of how to add tests.
 .
 Most of the code was taken from the OFTest framework. However, PTF focuses on the dataplane and is independent of OpenFlow. We also made a few additions to oftest.
 .

