Source: saithrift
Maintainer: Pavel Shirshov <pavelsh@microsoft.com>
Section: net
Priority: optional
Build-Depends: dh-exec (>=0.3), debhelper (>= 9)
Standards-Version: 0.9.4

Package: saiserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Pre-Depends}
Description: This package contains SAI thrift server

Package: saiserver-dbg
Architecture: any
Depends: saiserver (= ${binary:Version}), ${misc:Depends}
Section: debug
Description: debugging symbols for SAI thrift server

Package: libsaithrift-dev
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains SAI rpc library development headers

Package: python-saithrift
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains python SAI rpc library.
