Source: saithrift
Maintainer: Pavel Shirshov <pavelsh@microsoft.com>
Section: net
Priority: optional
Build-Depends: dh-exec (>=0.3), debhelper (>= 9)
Standards-Version: 1.3.0

Package: libsaithrift-dev
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains SAI rpc library development headers

Package: python-saithrift
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains python SAI rpc library.
